html {
  scroll-behavior: smooth;
}
.individualmanufacturerpage {
  height: 500vh;
  width: 100%;
  background-color: #f7f8f9;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  // background-color: red;
// justify-content: space-around;
  // background-color: red;
  .manufacturerheader {
    // width: 100%;

    width: 100%;
    height: 10%;
    // background-color: red;
    // display: flex;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }
    .manufacturerinforight {
      width: 50%;
      align-items: center;
      display: flex;
      // width: 30%;
      height: 100%;
      position: relative;
      top: -97%;
      left: 50%;

      .manufacturerimagecontainer {
        width: 30%;
        height: 40%;
        display: flex;
      }
      .imageheaders {
        
        width: 70%;
        height: 92%;
        display: flex;
        flex-direction: column;
        // background-color: red;
        .insideheaders {
          margin-left: 6%;
          margin-top: 4%;
          // margin-bottom: 5%;
          margin-right: 5%;
          // background-color: red;
          width: 70%;
          height: 30%;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #dce0e0;
          justify-content: space-around;
          .titlemanufacturer {
            color: white;
            font-size: 33px;
            font-family: "Bellota-Bold";
          }
          .link {
            color: white;
            margin-left: 4%;
            font-size: 14px;
            font-family: "Bellota-Light";
          }
          // width: 100%;
        }
        .lowerdetails {
          
          margin-left: 6%;
          // margin-top: 4%;
          margin-bottom: 5%;
          margin-right: 5%;
          // background-color: red;
          height: 50%;
          display: flex;
          flex-direction: column;
          // border-bottom: 1px solid #dce0e0;
          justify-content: space-around;
          .llicence {
            display: flex;
            align-items: center;
            // margin-top: /%;
            .bolder {
              color: white;
              font-size: 16px;
              font-family: "Bellota-Bold";
            }
            span {
              color: white;

              font-size: 16px;
              font-family: "Bellota-Light";
            }
          }
          .buttons {
            display: flex;
            width: 70%;
            height: 30%;
            // background-color: red;
            justify-content: space-between;
            button {
              background-color: #28a745;
              color: white;
              border: none;
              border-radius: 4px;
              width: 45%;
              &:nth-child(2) {
                background-color: white;
                color: #28a745;
                border: 1px solid #28a745;
                // border: none;
                border-radius: 4px;
                width: 45%;
              }
            }
          }
          .follow {
            position: relative;
            top: -120%;
            left: 60%;
            button {
              background-color: #00aeff;
              color: white;
              width: 30%;
              height: 120%;
              border: none;
            }
          }
        }
      }
    }

    // height: 280%;
  }

  .amnufacturerinsideindiv {
    scroll-behavior: smooth;
    height: 50%;
    // width: 100%;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 3%;
    // background-color: red;
    .manufacturernavigation {

      display: flex;
      height: 2%;

      background-color: white;
      align-items: center;
      justify-content: space-around;
    }

    .manufacturerprojectslists {
      // background-color: red;

      height: 50%;
      // width: 100%;
      margin-top: 2%;
      overflow-y: hidden;
      background-color: #f7f8f9;
      display: flex;
      justify-content: space-between;
      .manufacturerlistscontainer {
        background-color: white;
        // overflow: scroll;
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        .listingbuttons {
          margin-top: 3%;
          margin-bottom: 3%;
          height: 7%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .productsbutton {
            background-color: white;
            color: #00aeff;
            border: 1px solid #00aeff;
            width: 33%;
            height: 100%;
            border-radius: 4px;
            &.on {
              background-color: #00aeff;
              color: white;
              // border: 1px solid #00aeff;
              width: 33%;
              height: 100%;
            }
          }
          .productsbutton.on {
            background-color: #00aeff;
            color: white;
            // border: 1px solid #00aeff;
            width: 33%;
            height: 100%;
          }
        }
        .manufacturerprojectsheadertitle {
          font-size: 16px;
          font-family: "Bellota-Bold";
        }
        .manufacturerprojectslayout {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fill, 220px);
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          grid-row: 10px;
          justify-content: center;
          // background-color: red;

          // width: 20%;
          .individualmanufacturerprojects {
            span {
              color: black;
            }
            background-color: white;
            // grid-row-end: span 26;
            display: flex;
            border-radius: 16px;
            margin: 10px 15px;
            // width: 20%;
            // display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background-color: white;
            // flex-grow: 0;
            box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.22);
            -webkit-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.22);

            &:nth-child(odd) {
              grid-row-end: span 25%;
            }
            &:nth-child(even) {
              grid-row-end: span 30%;
            }
            // &:hover{
            //   .manufacturerindivinfo {
            //     border-top: 33px solid red;
            //     border-left: 120px solid transparent;
            //     height: 18%;
            //     display: flex;
            //     flex-direction: column;
            //     align-items: center;
            //     justify-content: center;
            //     animation: square 4s ease-in 1s infinite alternate none running;
            //   }
            //   @keyframes square {
            //     0%{ border-top: 13px solid white;
            //       border-left:60px solid transparent; }
            //     25%{ border-top: 19px solid white;
            //       border-left: 80px solid transparent;}
            //     50%{ border-top: 24px solid white;
            //       border-left: 120px solid transparent; }
            //     75%{ border-top: 29px solid white;
            //       border-left: 100px solid transparent; }
            //     100%{ border-top: 33px solid white;
            //       border-left: 120px solid transparent; }
            //   }
            // }
            .imageanimation {
              height: 80%;
              width: 100%;

              img {
                height: 100%;
                width: 100%;

                object-fit: cover;
                &:hover {
                  filter: brightness(50%);
                }
              }
            }
            .manufacturerindivinfo {
              height: 18%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              // animation: square 4s ease-in 1s infinite alternate none running;

              span {
                font-size: 16px;
                font-family: "Bellota-Light";
              }
              // background-color: red;
            }
          }
        }
      }
      .manufacturerprojecstsisde {
        background-color: white;
        width: 28%;
        height: 60%;
        display: flex;
        flex-direction: column;

        .manufacturerratingstars {
          // background-color: red;
          margin-left: 3%;
          margin-top: 3%;
          margin-right: 3%;
          display: flex;
          align-items: center;
          height: 20%;
          .manufacturercircularpic {
            height: 60%;
            border-radius: 50%;
            background-color: #f7f8f9;
            // background-color: red;
            width: 30%;
            .circularimage {
              border-radius: 50%;
              object-fit: contain;
              height: 100%;
              width: 100%;
            }
          }
          .ratingstars {
            display: flex;
            align-items: center;

            .star {
              color: goldenrod;
              background-color: white;
              font-size: 17px;
              // border: 1px solid red;
              &.pressed {
                color: goldenrod;
                // color: white;
                // border: 1px solid red;
                // background-color: goldenrod;
              }
            }
            .ratingspan {
              margin-left: 4px;
              font-size: 12px;
              color: goldenrod;
              font-family: "Bellota-Bold";
            }
          }
        }
        .followingsection {
          display: flex;
          align-items: center;
          margin-left: 3%;
          margin-top: 3%;
          margin-right: 3%;
          justify-content: space-around;
          .manufacturertitle {
            font-size: 18px;
            // color: goldenrod;
            font-family: "Bellota-Bold";
          }
          .followmanufacturer {
            width: 25%;
            height: 100%;
            background-color: #00aeff;
            color: white;
            border: none;
          }
          .useralreadyfollows {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .followingmanufacturer {
              background-color: #dce0e0;
              width: 48%;
              height: 100%;
              border: none;
            }
            .unfollowmanufacturer {
              background-color: crimson;
              color: white;
              width: 48%;
              height: 100%;
              border: none;
            }
          }
        }
        .listofdetails {
          margin-right: 3%;
          margin-left: 3%;
          margin-top: 3%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // width: 100%;
          height: 60%;
          // background-color: red;
        }

        // background-color: red;
      }
    }
    .manufacturermiddle {
      margin-top: 3%;
      height: 42%;
      width: 100%;
      display: flex;
      // background-color: red;
      justify-content: space-between;
      .aboutmanufacturer {
        height: 100%;
        width: 70%;
        background-color: white;
        .infocontainer {
          margin-left: 6%;
          margin-top: 4%;
          margin-right: 5%;
          height: 100%;
          display: flex;
          flex-direction: column;
          // background-color: #28a745;
          .infotilte {
            margin-top: 5%;
            font-size: 16px;
            font-family: "Bellota-Bold";
          }
          p {
            margin-top: 4%;
            margin-bottom: 1%;
            font-size: 16px;
            font-family: "Bellota-Light";
          }
        }
      }
      .contactmanufacturer {
        height: 90%;
        width: 28%;
        background-color: white;
        .containing {
          margin-top: 4%;
          margin-left: 2%;
          // margin-right: 5%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          // background-color: red;

          flex-direction: column;
          .contacttilte {
            margin-top: 5%;
            font-size: 16px;
            font-family: "Bellota-Bold";
          }
          .contactimage {
            margin-bottom: 8%;
            margin-top: 6%;
            width: 100%;
            height: 30%;
          }
          .website {
            // background-color: red;

            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30%;
          }
          .findonsocials {
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .manufacturersocialstitlte {
              font-size: 16px;
              font-family: "Bellota-Regular";
            }
            .manufacturersocialhandles{
              display: flex;
              width: 100%;
              justify-content: space-around;
              .facebook{
                color:#87CFFF;
                font-size: 22px;
                cursor: pointer;
              }
              .insta{
                color:#87CFFF;
                font-size: 22px;
                cursor: pointer;
              }
              .yt{
                color:#D02737;
                font-size: 22px;
                cursor: pointer;
              }
              .pindabest{
                color:#D62027;
                font-size: 22px;
                cursor: pointer;
              }
              .googs{
                color:#5FB3FF;
                font-size: 22px;
                cursor: pointer;
              }
              .linkedin{
                color:#677BC5;
                font-size: 22px;
              }
              .twitter{
                color:#47C5F4;
                font-size: 22px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .manufacturerprojectbottom {
      margin-top: 4%;
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      height: 20%;
      width: 100%;
      // overflow: visible;

      background-color: white;
      .projectstitle {
        font-size: 33px;
        font-family: "Bellota-Bold";
      }
      .manufacturerprojectscontainer {
        width: 100%;
        height: 10000vh;
        overflow: scroll;
        //   display: grid;
        //   justify-content: center;
        //   grid-template-columns: repeat(auto-fill, 320px);
        //   position: relative;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   grid-row: 10px;
        //   overflow-y: visible;
        // background-color: blue;
        // .singleprojectcointer{
        //   background-color: white;
        // grid-row-end: span 26;
        // display: flex;
        // border-radius: 16px;
        // margin: 10px 15px;

        // // width: 20%;
        // // display: flex;
        // flex-direction: column;
        // // justify-content: center;
        // // background-color: white;
        // // flex-grow: 0;
        // box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.22);
        // -webkit-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.22);
        // -moz-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.22);
        // &:nth-child(odd){
        //   grid-row-end: span 106;
        // }
        // &:nth-child(even){
        //   grid-row-end: span 66;
        // }
        //   // .topblogimage {
        //   //   height: 60%;
        //   //   // background-color: red;
        //   // }
        //   // .bottom {
        //   //   height: 40%;}
        //   // // background-color: oldlace;
        //   // // flex-grow: 1;

        // }
      }
    }
    .manufacturerreport {
      margin-top: 3%;
      height: 22%;
      width: 100%;
      display: flex;
      // background-color: red;
      justify-content: space-between;
      .leftsidereport {
        background-color: white;

        width: 70%;
        height: 100%;
        .emailer {
          margin-left: 6%;
          // margin-top: 4%;
          margin-right: 5%;
          display: flex;
          flex-direction: column;
          height: 100%;
          span {
            font-size: 16px;
            font-family: "Bellota-Bold";
          }
          .messagesendingfields {
            // margin-top: 2%;
            margin-left: 4%;
            display: flex;
            flex-direction: column;
            width: 55%;
            height: 100%;
            // background-color: red;
            // align-items: center;
            justify-content: space-around;
            align-items: flex-end;
            .singlefield {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-size: 16px;
                font-family: "Bellota-Light";
              }
            }
            .emailerbutton {
              background-color: #00aeff;
              color: white;
              border: none;
              height: 10%;
              width: 40%;
              border-radius: 4px;
              // align-items: flex-end;
            }
          }
        }
      }
    }
  }
}
