.nav {
  height: 50px;
  width: 100%;
  overflow: visible;
  background-color: #004274;
  // background-color: #8ed1fc;
  transition: all 1s ease;

  .navitems {
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    // width: 83%;
    .navigators {
      flex: 4;
      display: flex;
      align-items: center;

      height: inherit;
      // width: 10%;
      // background-color: red;
      .lines {
        display: none;
        // display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 2s ease;

        // background-color: red;
        .single {
          transition: all 2s ease;

          // margin-top: 10%;
          margin-bottom: 4%;
          width: 40%;
          height: 10%;
          background-color: white;
          border: none;
          border-radius: 4px;
        }
      }
      .lines.open {
        scrollbar-width: none;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
          display: none;
        }

        .single {
          // margin-top: 14%;
          transition: all 2s ease;

          // display: ;
          &:first-child {
            margin-top: 1%;
            background-color: white;
            transform: rotate(145deg);
          }

          &:nth-child(2) {
            // margin-bottom: 4%;
            margin-top: -10%;
            background-color: white;

            transform: rotate(-145deg);
          }

          &:last-child {
            animation: square 1s ease-in 1s infinite alternate none running;
            // opacity: 0;
            background-color: white;
          }
          @keyframes square {
            0% {
              opacity: 0;
            }
            25% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            75% {
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      .verticallines {
        height: 100%;
        border-left: 1px solid #00578f;
      }
      .link {
        display: flex;
        // background-color: red;
        width: 200%;
        height: 75%;

        .containers {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 200%;
          cursor: pointer;
          border-right: 1px solid #00578f;
          span {
            font-size: 12px;
            font-family: "Bellota-Bold";
            color: white;
          }
        }
        .containers:hover {
          background-color: #00578f;
          span {
            color: #00aeff;
          }
        }
      }
    }
    .usercred {
      // background-color: RED;
      flex: 0.1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .accountcircle {
        color: white;
        font-size: 30px;
        cursor: "pointer";
      }
      .accountcircle:hover {
        color: #00aeff;
      }
      .lines{
        
        flex: 0.1;

        display: flex;
      align-items: center;
        background-color: red;
        .user{
          background-color: #BFBFBF;
  
        }
      }
      
      .create {
        button {
          cursor: pointer;
          height: 40px;
          width: 150px;
          border: none;
          border-radius: 2px;
          color: white;
          background-color: #00aeff;
          margin-left: 10%;
          font-family: "Bellota-Bold";
          font-weight: 1000;
          button:hover {
            background-color: white;
          }
        }
      }
    }
  }
}
