.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300vh;
  background-color: #f7f8f9;
  .insideblog {
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 6%;
    // background-color: blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    .locator {
      display: flex;
      align-items: center;
      height: 3%;
      // background-color: red;
    }
    h4 {
      margin-top: -0.1%;
      // background-color: red;
      // margin-left: 4%;
      font-size: 33px;
      font-family: "Bellota-Bold";
      // color: #6C757D;
    }
    .blogpost {
      width: 100%;
      height: 90%;
      display: flex;

      // background-color: blue;
      // flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;

      justify-content: space-around;
      .single {
        margin-right: 10px;
        width: 20%;
        // height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        flex-grow: 0;
        &:nth-child(even) {
          height: 32%;
          .topblogimage {
            height: 70%;
            // background-color: red;
          }
          .bottom {
            height: 30%;}
          // background-color: oldlace;
          // flex-grow: 1;
        }
        &:nth-child(odd) {
          height: 25%;
          // background-color: crimson;
          flex-shrink: 7;
          .topblogimage {
            height: 80%;
            // background-color: red;
          }
          .bottom {
            height: 20%;
          }
        }
        .topblogimage {
          height: 70%;
          // background-color: red;
        }
        .bottom {
          margin-left: 3%;
          margin-top: 3%;
          margin-right: 3%;
          // height: 30%;
          // width: 100%;
          display: flex;
          // background-color: red;
          flex-direction: column;
          justify-content: space-evenly;
          span {
            font-size: 12px;
          }
          .bottomtop {
            display: flex;
            align-items: center;
          }
          h3 {
            font-size: 16px;
            font-family: "Bellota-Bold";
            margin-bottom: -0.1%;
          }
          .dec {
            font-size: 12px;
            font-family: "Bellota-Light";
          }
          .link {
            color: #00aeff;
            font-size: 14px;
            font-family: "Bellota-Light";
            cursor: pointer;
            text-decoration: none;
          }
          // background-color: red;
        }
      }
    }
  }
}
