.colored {
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .coloredspan {
    font-size: 12px;
    font-family: "Bellota-Regular";
    color: white;
  }
}
