.item.true{
  width: 48%;
  height: 30%;
  // background-color: black;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1%;
  .image{
    width: 100%;
    height: 50%;
    img{
      border-radius: 4px;
      // background-blend-mode: darken;

      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .firstinsideimg {
    position: relative;
// background-color: red;
    top: -100%;
    left: 0.3%;

    }
}
.item {
  width: 100%;
  height: 10%;
  // background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;

  .image {
    width: 35%;
    height: 100%;
    // background: rgba(0, 0, 0, .65) url("https://i.pinimg.com/564x/22/af/de/22afde433de829005765ad3f4b0199c0.jpg");
    // background-color: ref;
    // flex: 1;
    // background-color: red;
    // background-image: url("https://i.pinimg.com/564x/22/af/de/22afde433de829005765ad3f4b0199c0.jpg");
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    img {
      // display: none;
      border-radius: 4px;
      // background-blend-mode: darken;

      object-fit: cover;
      width: 100%;
      height: 100%;
      // background: linear-gradient(
      //     rgba(0, 0, 0, 0.7),
      //     rgba(0, 0, 0, 0.7)
      //   ),
      // filter: brightness(50%);
    }
   
    .firstinsideimg {
      position: relative;

      top: -100%;
      left: 0.3%;

      // margin-top: -60.1%;
      // background-color: blue;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      .first {
        // flex: 1;
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1%;
        width: 25%;
        border: none;
        border-radius: 2px;
        background-color: #77c720;
        //
        span {
          color: white;
          font-size: 12px;
          font-family: "Bellota-Regular";
        }
      }
    }
    .secondinsideimg {
      // background-blend-mode: darken;

      position: relative;
      top: -43%;
      // left: 1%;
      display: flex;
      width: 100%;
      // margin-top: 29%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // filter: brightness(100%);
      height: 32%;
      background-color: rgba(13, 15, 10, 0.404);

      // background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
      // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
      // background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
      // background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
      // background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
      background: linear-gradient(to top, rgba(13, 15, 10, 0.404) 70%, transparent 95%);
      
      // background-color: red;
      .icons.wrap{
        width: 100%;
        align-items: center;
        // background-color: red;
        height: 70%;
        justify-content: center;
        .header {
          // margin-top: 3%;
          // margin-left: 3%;
          // background-color: aquamarine;
  
          // flex: 2;
          margin-right: 2%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 10%;
          width: 50%;
          border: none;
          border-radius: 2px;
          span {
            border-radius: 2px;
            text-align: center;
            width: 100%;
            background-color: #585757;
            margin-right: 2%;
            font-size: 12px;
            font-family: "Bellota-Regular";
            color: white;
          }
        }
        .individual{
          display: flex;
          align-items:center;
          justify-content: center;
          // background-color: blue;
          margin-right: 1%;
          width: 10%;
          height: 70%;

          .shadow{
            display: none;
            width: 70%;
          }
        }
        .individual:hover{
          width: 30%;
          height: 70%;
        }
      }
      .icons {
        height: inherit;
        // background-color: red;
        width: 60%;
        margin-right: 3%;
        display: flex;
        margin-bottom: 10%;
        // flex-direction: column;
        
        .individual:hover {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .shadow {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .individual {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 200%;
          margin-right: 5%;

          .shadow {
            display: none;
            margin-bottom: 3%;
            width: 100%;
            height: 50%;
            background-color: rgba(13, 15, 10, 0.404);

            span {
              color: white;
              font-size: 12px;
              font-family: "Bellota-Light";
            }
          }
          .like {
            font-size: 16px;
            width: 70%;
            background-color: rgba(13, 15, 10, 0.404);
            cursor: pointer;
            color: white;
          }
        }
      }
    }

    // background-color: red;
  }
  .detailsection {
    width: 65%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-right: -3%;
    // padding-top: -2%;
    // background-color: chocolate;
    .detailedarea {
      // padding-left: -3%;
      width: 65%;
      height: 100%;
      // background-color: #585757;
      // padding-top: -2%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header {
        // margin-top: 3%;
        margin-left: 3%;
        // background-color: aquamarine;

        // flex: 2;
        margin-right: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        width: 50%;
        border: none;
        border-radius: 2px;
        span {
          border-radius: 2px;
          text-align: center;
          width: 70%;
          background-color: #585757;
          margin-right: 2%;
          font-size: 12px;
          font-family: "Bellota-Regular";
          color: white;
        }
      }
      .titlesection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3%;

        h3 {
          font-size: 16px;
          font-family: "Bellota-Bold";
          margin-bottom: -0.1%;
        }

        span {
          font-size: 13px;
          font-family: "Bellota-Light";
        }
      }
      .appliances {
        margin-left: 3%;
        // margin-top: 4%;
        display: flex;

        .bed {
          display: flex;
          // flex-direction: column;
          // border-right: 1px solid #dce0e0;
          padding-right: 3%;
          .Icons {
            display: flex;
            align-items: center;
            h3 {
              font-size: 14px;
              font-family: "Bellota-Light";
            }
          }
        }
        .bath {
          display: flex;
          // flex-direction: column;
          // border-right: 1px solid #dce0e0;
          // padding-right: 3%;
          // margin-right: 4%;
          margin-left: 2%;
          padding-right: 3%;
          .Icons {
            display: flex;
            align-items: center;
            h3 {
              font-size: 14px;
              font-family: "Bellota-Light";
            }
          }
        }
        .square {
          display: flex;
          flex-direction: column;
          margin-left: 2%;
          padding-right: 3%;
          // border-right: 1px solid #dce0e0;
          // padding-right: 3%;
          .Icons {
            display: flex;
            align-items: center;
            h3 {
              font-size: 14px;
              font-family: "Bellota-Light";
            }
          }
          span {
            font-size: 12px;
            font-family: "Bellota-Light";
          }
        }
        .type{
          display: flex;
          align-items: center;
          margin-left: 3%;
          span{
            font-size: 14px;
            
            font-family: "Bellota-Bold";
            
          }
        }
      }
      .usersection {
        margin-left: 3%;
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
        .user {
          display: flex;
          align-items: center;
          span {
            font-size: 12px;
            font-family: "Bellota-Light";
          }
        }
        .timeago {
          display: flex;
          align-items: center;
          margin-left: 10%;
          span {
            font-size: 12px;
            font-family: "Bellota-Light";
          }
        }
      }
    }
    .pricesection {
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: red;
      align-items: flex-end;
      .price{
        h3{
          font-size: 16px;
            font-family: "Bellota-Bold";
            margin-bottom: -0.1%;
        }
        span{
          font-size: 12px;
            font-family: "Bellota-Light";
        }
      }
      button{
        cursor: pointer;
        width: 60%;
        height: 20%;
        background-color: #00aeff;
        color: white;
        border: none;
        border-radius: 2px;
      }
    }
  }
}
